.bg-yellow {
    background-color: rgb(191, 253, 141) !important;
    height: 500px;
    min-width: 250px;
}

.bg-blue {
    background-color: rgb(182, 238, 255) !important;
    height: 500px;
    min-width: 250px;
}

.bg-red {
    background-color: rgb(255, 147, 147) !important;
    height: 500px;
    min-width: 250px;
}