<div class="container mt-4">
    <!-- Título -->
    <div class="row mb-3">
      <div class="col">
        <h2 class="fw-bold">Trazabilidad de Transacciones</h2>
      </div>
    </div>
  
    <!-- Filtro de búsqueda -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="busquedaTr" class="form-label">Filtrar Trazabilidad por código de latencia</label>
        <div class="input-group">
          <input id="busquedaTr" type="text" class="form-control" placeholder="Ingrese el ID de la transacción">
          <button class="btn btn-primary" type="button">Filtrar</button>
        </div>
      </div>
    </div>
  
    <!-- Flujo de cajas -->
    <div class="row mb-3 justify-content-center align-items-center text-center">
      <!-- Cuadro 1 -->
      <div class="col-auto">
        <div class="bg-yellow rounded p-3">
          Inicio
        </div>
      </div>
  
      <!-- Flecha -->
      <div class="col-auto">
        <i class="bi bi-arrow-right fs-2"></i>
      </div>
  
      <!-- Cuadro 2 -->
      <div class="col-auto">
        <div class="bg-blue rounded p-3" >
          Proceso
        </div>
      </div>
  
      <!-- Flecha -->
      <div class="col-auto">
        <i class="bi bi-arrow-right fs-2"></i>
      </div>
  
      <!-- Cuadro 3 -->
      <div class="col-auto">
        <div class="bg-red rounded p-3 text-white" >
          Fin
        </div>
      </div>
    </div>
  </div>
  