<div class="container mt-4">
    <!-- Título -->
    <div class="row mb-3">
      <div class="col">
        <h2 class="fw-bold">Trazabilidad de Transacciones</h2>
      </div>
    </div>
  
    <!-- Filtro de búsqueda -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="busquedaTr" class="form-label">Filtrar Trazabilidad por código de latencia</label>
        <div class="input-group">
          <input id="busquedaTr" type="text" class="form-control" placeholder="Ingrese el ID de la transacción" >
          <button class="btn btn-primary" type="button" (click)="obtenerIndividual()">Filtrar</button>
        </div>
      </div>
    </div>
  
    <!-- Flujo de cajas -->
    <div class="row mb-3 justify-content-center align-items-start text-center">
        <!-- SecuCheck -->
        <div class="col-md-3">
          <div class="bg-yellow rounded p-3">
            <h3>SecuCheck</h3>
            <div class="text-start">
              <p><strong>ID JSON:</strong> {{ registroIndividual?.json_id }}</p>
              <p><strong>Timestamp:</strong> {{ registroIndividual?.json_timestamp }}</p>
              <p><strong>Transacción:</strong> {{ registroIndividual?.transaction_id }}</p>
              <p><strong>Resultado:</strong> {{ registroIndividual?.resultado_validacion }}</p>
              <p><strong>Motivo fallo:</strong> {{ registroIndividual?.motivo_fallo }}</p>
              <p><strong>Verificaciones:</strong> {{ registroIndividual?.verificaciones_realizadas }}</p>
            </div>
          </div>
        </div>
      
        <!-- Flecha -->
        <div class="col-auto d-flex align-items-center">
          <i class="bi bi-arrow-right fs-2"></i>
          <span>{{latenciaESB}}ms</span>
        </div>
      
        <!-- ESB -->
        <div class="col-md-3">
          <div class="bg-blue rounded p-3">
            <h3>ESB</h3>
            <div class="text-start">
              <p><strong>Timestamp:</strong> {{ registroIndividual?.esb_timestamp }}</p>
              <p><strong>Nivel log:</strong> {{ registroIndividual?.nivel_log }}</p>
              <p><strong>Dirección:</strong> {{ registroIndividual?.direction }}</p>
              <p><strong>Operación:</strong> {{ registroIndividual?.operation }}</p>
              <p><strong>Status code:</strong> {{ registroIndividual?.status_code }}</p>
              <p><strong>Latencia (ms):</strong> {{ registroIndividual?.latency_ms }}</p>
            </div>
          </div>
        </div>
      
        <!-- Flecha -->
        <div class="col-auto d-flex align-items-center">
          <i class="bi bi-arrow-right fs-2"></i>
          <span>{{latenciaCORE}}ms</span>
        </div>
      
        <!-- CoreBank -->
        <div class="col-md-3">
          <div class="bg-red rounded p-3">
            <h3>CoreBank</h3>
            <div class="text-start">
              <p><strong>ID Core:</strong> {{ registroIndividual?.core_id }}</p>
              <p><strong>Fecha:</strong> {{ registroIndividual?.core_fecha }}</p>
              <p><strong>IP:</strong> {{ registroIndividual?.core_ip }}</p>
              <p><strong>Cuenta:</strong> {{ registroIndividual?.core_cuenta }}</p>
              <p><strong>Estado:</strong> {{ registroIndividual?.core_estado }}</p>
              <p><strong>Valor:</strong> {{ registroIndividual?.core_valor }}</p>
            </div>
          </div>
        </div>
      </div>
    
    <div class="row mb-3">
        <div class="col-12">
          <h2 class="my-3 text-center">Listado De transacciones</h2>
          <table class="table table-striped table-bordered w-100">
            <thead class="table-dark">
              <tr>
                <th>ID Transacción</th>
                <th>Resultado</th>
                <th>Estado Final</th>
                <th>Valor</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of transacciones">
                <td>{{ t.transaction_id }}</td>
                <td>{{ t.resultado_validacion }}</td>
                <td>{{ t.core_estado }}</td>
                <td>{{ t.core_valor }}</td>
                <td>{{ t.core_fecha }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  